
extends template/layout.pug 

block content 
    .container.justify-content-between.bg-secondary
        div#fetch_container            
            .row.justify-content-center
                .col-12.ml-5.mt-4
                    p En cartelera
                    //- p #{message}
                    //- p #{!!isLoggedIn}
                    hr
            
            .row.justify-content-center
                each movie in loadedMovies
                    .col-auto.m-2.mb-5.text-center
                        a(href=`/pelicula/${movie.id}`)
                            img.rounded(src=imgPath+movie.poster_path, alt=movie.title, style={width:200})
                            p(style="white-space:nowrap;width:250px;overflow:hidden;color:white;text-overflow:ellipsis") #{movie.title}


block scripts
    script(src="js/test.js") 